@import '~@angular/material/theming';

.rss-item {
    margin: 16px;
    padding: 16px;
}

.rss-item-content {
    display: flex;

    img {
        @include mat-elevation(2);
        max-height: 128px;
        margin-left: 16px;
        margin-right: 16px;
    }
}

.rss-item-footer {
    display: flex;

    a {
        margin-left: 32px;
    }
}