@import '~@angular/material/theming';

.rss-item {
    margin: 16px;
}

.rss-item-content {
    display: flex;

    img {
        @include mat-elevation(2);
        max-height: 128px;
        margin: 16px;
        margin-top: 0;
    }
    
}