<mat-card class="rss-item">
    <mat-card-header>
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-subtitle *ngIf="item.pubDate !== undefined">{{ item.pubDate }}</mat-card-subtitle>        
    </mat-card-header>
    <mat-card-content class="rss-item-content">
        <img *ngIf="imageSrc !== undefined" [src]="imageSrc">
        <span *ngIf="item.description !== undefined">{{ item.description }}</span>
    </mat-card-content>
    <mat-card-footer class="rss-item-footer">
        <a [href]="itemUrl">
            <mat-icon aria-hidden="false" aria-label="Link to article">link</mat-icon>
        </a>
    </mat-card-footer>
</mat-card>
